/*  Utils  */
:root {
  --primary-text-color: #212121;
  --description-text-color: #757575;
  --links-buttons-text-color: #2196F3;
}

/*  Base */
body {
  background-color: white;
  font-family: Roboto, sans-serif;
  letter-spacing: -0.03em;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/*  Layout  */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/*  Components  */
.header {
  display: block;
  background-color: white;
  border: 1px solid #ECECEC;
}
.header__container {
  position: relative;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .header__container {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__logo1 {
  margin-right: 293px;
  color: var(--links-buttons-text-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: none;
}
@media (min-width: 767px) {
  .header__logo1 {
    margin-right: 0px;
  }
}
@media (min-width: 1200px) {
  .header__logo1 {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
}
.header__logo2 {
  color: #000000;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
@media (min-width: 1200px) {
  .header__logo2 {
    font-size: 26px;
    line-height: 1.19;
  }
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .header__nav {
    margin-left: 88px;
  }
}
@media (min-width: 1200px) {
  .header__nav {
    margin-left: 0px;
  }
}
.header__nav-menu {
  display: none;
}
@media (min-width: 768px) {
  .header__nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__nav-item {
  display: block;
}
@media (min-width: 768px) {
  .header__nav-item {
    margin-right: 51px;
  }
  .header__nav-item:nth-child(3n) {
    margin-right: 0px;
  }
}
@media (min-width: 1200px) {
  .header__nav-item {
    margin-right: 52px;
  }
  .header__nav-item:nth-child(3n) {
    margin-right: 0px;
  }
}
.header__nav-studio {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  cursor: pointer;
  -webkit-transition-property: var(--links-buttons-text-color);
  transition-property: var(--links-buttons-text-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav-studio:hover, .header__nav-studio:focus {
  color: var(--links-buttons-text-color);
}
.header__nav-studio--current {
  position: relative;
  color: var(--links-buttons-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  width: 78px;
  height: 4px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.header__nav-studio::after {
  content: "";
  position: absolute;
  left: -200%;
  bottom: 0;
  margin-left: 85px;
  display: block;
  width: 48px;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
}
.header__nav-portfolio {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition-property: var(--links-buttons-text-color);
  transition-property: var(--links-buttons-text-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.header__nav-portfolio:hover, .header__nav-portfolio:focus {
  color: var(--links-buttons-text-color);
}
.header__nav-portfolio--current {
  position: relative;
  color: var(--links-buttons-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.header__nav-portfolio::after {
  content: "";
  position: absolute;
  left: -200%;
  bottom: 0;
  margin-left: 143px;
  display: block;
  width: 78px;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
}
.header__nav-contacts {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition-property: var(--links-buttons-text-color);
  transition-property: var(--links-buttons-text-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.header__nav-contacts:hover, .header__nav-contacts:focus {
  color: var(--links-buttons-text-color);
}

.header-feedback {
  display: none;
}
@media (min-width: 768px) {
  .header-feedback {
    display: block;
    margin-left: 96px;
    margin-top: auto;
    margin-bottom: auto;
  }
}
@media (min-width: 1200px) {
  .header-feedback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 304px;
    margin-top: auto;
    margin-bottom: auto;
  }
}
.header-feedback__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 768px) {
  .header-feedback__item {
    margin-bottom: 10px;
  }
  .header-feedback__item:nth-child(2n) {
    margin-bottom: 0px;
  }
}
@media (min-width: 1200px) {
  .header-feedback__item {
    margin-right: 41px;
    margin-bottom: 0px;
  }
  .header-feedback__item:nth-child(2n) {
    margin-right: 0px;
  }
}
.header-feedback__mail-icon {
  fill: currentColor;
}
@media (min-width: 768px) {
  .header-feedback__mail-icon {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
}
@media (min-width: 1200px) {
  .header-feedback__mail-icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
}
.header-feedback__tel-icon {
  fill: currentColor;
}
@media (min-width: 768px) {
  .header-feedback__tel-icon {
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
}
@media (min-width: 1200px) {
  .header-feedback__tel-icon {
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }
}
.header-feedback__tel {
  margin-left: 0px;
}
.header-feedback__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--description-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition-property: var(--links-buttons-text-color);
  transition-property: var(--links-buttons-text-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-feedback__mail:hover, .header-feedback__mail:focus {
  color: var(--links-buttons-text-color);
}
@media (min-width: 768px) {
  .header-feedback__mail {
    font-size: 12px;
    line-height: 1.16;
  }
}
@media (min-width: 1200px) {
  .header-feedback__mail {
    font-size: 14px;
    line-height: 1.14;
  }
}
.header-feedback__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--description-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition-property: var(--links-buttons-text-color);
  transition-property: var(--links-buttons-text-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-feedback__tel:hover, .header-feedback__tel:focus {
  color: var(--links-buttons-text-color);
}
@media (min-width: 768px) {
  .header-feedback__tel {
    font-size: 12px;
    line-height: 1.16;
  }
}
@media (min-width: 1200px) {
  .header-feedback__tel {
    font-size: 14px;
    line-height: 1.14;
  }
}

.section-studio {
  padding-top: 118px;
  padding-bottom: 128px;
  text-align: center;
  background-color: #2F303A;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/overlay480.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay480.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .section-studio {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/overlay480x2.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay480x2.jpg);
  }
}
@media (min-width: 768px) {
  .section-studio {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/overlay768.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay768.jpg);
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .section-studio {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/overlay768x2.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay768x2.jpg);
  }
}
@media (min-width: 1200px) {
  .section-studio {
    padding-top: 200px;
    padding-bottom: 210px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/overlay1200.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay1200.jpg);
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx) {
  .section-studio {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/overlay1200x2.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay1200x2.jpg);
  }
}
.section-studio__hero {
  margin-top: 0px;
  margin-bottom: 40px;
  color: white;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .section-studio__hero {
    font-size: 44px;
    line-height: 1.36;
  }
}
.section-studio__button {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.81;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.section-studio__button {
  background-color: #F5F4FA;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;
  padding: 10px 24px;
  min-width: 200px;
  -webkit-transition-property: var(--links-buttons-text-color);
  transition-property: var(--links-buttons-text-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.section-studio__button:hover {
  background-color: var(--links-buttons-text-color);
  color: white;
}
.section-studio__button:focus {
  background-color: var(--links-buttons-text-color);
  color: white;
}

.section-benefits {
  padding-top: 60px;
  padding-bottom: 30px;
}
@media (min-width: 1200px) {
  .section-benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section-benefits__header-hidden {
  position: absolute;
  margin-top: 0px;
  margin-bottom: 0px;
  visibility: hidden;
}
.section-benefits__list {
  display: block;
}
@media (min-width: 768px) {
  .section-benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .section-benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.section-benefits__title {
  margin-bottom: 30px;
  margin-right: 0px;
  display: block;
}
@media (min-width: 768px) {
  .section-benefits__title {
    margin-bottom: 0px;
    margin-right: 30px;
  }
  .section-benefits__title:nth-child(2n) {
    margin-right: 0px;
  }
}
@media (min-width: 1200px) {
  .section-benefits__title:nth-child(2n) {
    margin-right: 30px;
  }
  .section-benefits__title:nth-child(4n) {
    margin-right: 0px;
  }
}
.section-benefits__box {
  padding-top: 25px;
  padding-left: 192px;
  width: 450px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
}
@media (min-width: 768px) {
  .section-benefits__box {
    width: 354px;
    padding-left: 144px;
  }
}
@media (min-width: 1200px) {
  .section-benefits__box {
    width: 270px;
    padding-left: 102px;
  }
}
.section-benefits__header {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
@media (min-width: 768px) {
  .section-benefits__header {
    text-align: left;
  }
}
.section-benefits__description {
  margin-top: 0px;
  color: var(--description-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
@media (min-width: 768px) {
  .section-benefits__description {
    width: 354px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .section-benefits__description {
    width: 270px;
    margin-bottom: 0px;
  }
}

.section-work {
  padding-bottom: 94px;
}
@media (max-width: 1200px) {
  .section-work {
    display: none;
  }
}
.section-work__header {
  margin-top: 0px;
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.section-work__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section-work__desktop-apps {
  margin-right: 30px;
}
.section-work__mobile-apps {
  margin-right: 30px;
}
.section-work__design-solutions {
  margin-right: 0px;
}
.section-work__box1 {
  position: absolute;
  margin-top: 224px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 370px;
  height: 70px;
  text-align: center;
  background: rgba(47, 48, 58, 0.8);
}
.section-work__box2 {
  position: absolute;
  left: 33%;
  margin-left: 14px;
  margin-top: 224px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 370px;
  height: 70px;
  text-align: center;
  background: rgba(47, 48, 58, 0.8);
}
.section-work__box3 {
  position: absolute;
  left: 66%;
  margin-left: 28px;
  margin-top: 224px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 370px;
  height: 70px;
  text-align: center;
  background: rgba(47, 48, 58, 0.8);
}
.section-work__description1 {
  margin-left: 107px;
  margin-top: 27px;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.section-work__description2 {
  margin-left: 113px;
  margin-top: 27px;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.section-work__description3 {
  margin-left: 95px;
  margin-top: 27px;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.section-team {
  margin-top: 0px;
  padding-top: 94px;
  padding-bottom: 30px;
  background-color: #F5F4FA;
}
@media (min-width: 1200px) {
  .section-team {
    padding-bottom: 94px;
  }
}
.section-team__header {
  margin-top: 0px;
  margin-bottom: 30px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
@media (min-width: 1200px) {
  .section-team__header {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}
.section-team__list {
  display: block;
}
@media (min-width: 768px) {
  .section-team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .section-team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.section-team__card {
  width: 450px;
  margin-bottom: 30px;
  background-color: white;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media (min-width: 768px) {
  .section-team__card {
    width: 354px;
    margin-right: 30px;
  }
  .section-team__card:nth-child(2n) {
    margin-right: 0px;
  }
}
@media (min-width: 1200px) {
  .section-team__card {
    width: 270px;
    margin-bottom: 0px;
  }
  .section-team__card:nth-child(2n) {
    margin-right: 30px;
  }
  .section-team__card:nth-child(4n) {
    margin-right: 0px;
  }
}
.section-team__img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section-team__card-name {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.section-team__card-description {
  margin-bottom: 16px;
  margin-top: 0px;
  color: var(--description-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
}
.section-team__social-networks {
  padding-left: 122px;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 768px) {
  .section-team__social-networks {
    padding-left: 74px;
  }
}
@media (min-width: 1200px) {
  .section-team__social-networks {
    padding-left: 32px;
    padding-bottom: 30px;
  }
}
.section-team__social-networks-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section-team__social-networks-link {
  text-align: center;
  margin-right: 10px;
  border: none;
  width: 44px;
  height: 44px;
  color: #AFB1B8;
  border-radius: 50%;
  background-color: #FFFFFF;
  cursor: pointer;
  -webkit-transition-property: var(--links-buttons-text-color);
  transition-property: var(--links-buttons-text-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.section-team__social-networks-link:hover {
  color: #FFFFFF;
  background-color: #2196F3;
}
.section-team__social-networks-link:nth-child(4n) {
  margin-right: 10px;
}
.section-team__social-networks-icon {
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  margin-top: 12px;
  fill: currentColor;
}

.section-clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 1200px) {
  .section-clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section-clients__header {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.section-clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.section-clients__box1 {
  margin-bottom: 30px;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 1200px) {
  .section-clients__box1 {
    margin-bottom: 0px;
  }
}
.section-clients__box2 {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 768px) {
  .section-clients__box2 {
    margin-right: 30px;
  }
}
@media (min-width: 1200px) {
  .section-clients__box2 {
    margin-bottom: 0px;
  }
}
.section-clients__box3 {
  margin-bottom: 30px;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 768px) {
  .section-clients__box3 {
    margin-right: 0px;
  }
}
@media (min-width: 1200px) {
  .section-clients__box3 {
    margin-bottom: 0px;
    margin-right: 30px;
  }
}
.section-clients__box4 {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 768px) {
  .section-clients__box4 {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}
.section-clients__box5 {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section-clients__box6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section-clients__link1 {
  padding-top: 21px;
  padding-left: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 210px;
  height: 92px;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition-property: var(--links-buttons-text-color);
  transition-property: var(--links-buttons-text-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.section-clients__link1:hover {
  color: #2196F3;
  border: 1px solid #2196F3;
}
@media (min-width: 768px) {
  .section-clients__link1 {
    width: 226px;
    padding-left: 91px;
  }
}
@media (min-width: 1200px) {
  .section-clients__link1 {
    width: 170px;
    padding-top: 23px;
    padding-left: 64px;
  }
}
.section-clients__link2 {
  padding-top: 20px;
  padding-left: 85px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 210px;
  height: 92px;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition-property: var(--links-buttons-text-color);
  transition-property: var(--links-buttons-text-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.section-clients__link2:hover {
  color: #2196F3;
  border: 1px solid #2196F3;
}
@media (min-width: 768px) {
  .section-clients__link2 {
    width: 226px;
    padding-left: 91px;
  }
}
@media (min-width: 1200px) {
  .section-clients__link2 {
    width: 170px;
    padding-top: 19px;
    padding-left: 65px;
  }
}
.section-clients__link3 {
  padding-top: 26px;
  padding-left: 81px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 210px;
  height: 92px;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition-property: var(--links-buttons-text-color);
  transition-property: var(--links-buttons-text-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.section-clients__link3:hover {
  color: #2196F3;
  border: 1px solid #2196F3;
}
@media (min-width: 768px) {
  .section-clients__link3 {
    width: 226px;
    padding-left: 91px;
  }
}
@media (min-width: 1200px) {
  .section-clients__link3 {
    width: 170px;
    padding-top: 24;
    padding-left: 62px;
  }
}
.section-clients__link4 {
  padding-top: 25px;
  padding-left: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 210px;
  height: 92px;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition-property: var(--links-buttons-text-color);
  transition-property: var(--links-buttons-text-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.section-clients__link4:hover {
  color: #2196F3;
  border: 1px solid #2196F3;
}
@media (min-width: 768px) {
  .section-clients__link4 {
    width: 226px;
    padding-left: 75px;
  }
}
@media (min-width: 1200px) {
  .section-clients__link4 {
    width: 170px;
    padding-top: 24;
    padding-left: 43px;
  }
}
.section-clients__link5 {
  padding-top: 22px;
  padding-left: 71px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 210px;
  height: 92px;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition-property: var(--links-buttons-text-color);
  transition-property: var(--links-buttons-text-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.section-clients__link5:hover {
  color: #2196F3;
  border: 1px solid #2196F3;
}
@media (min-width: 768px) {
  .section-clients__link5 {
    width: 226px;
    padding-left: 75px;
  }
}
@media (min-width: 1200px) {
  .section-clients__link5 {
    width: 170px;
    padding-top: 22px;
    padding-left: 54px;
  }
}
.section-clients__link6 {
  padding-top: 23px;
  padding-left: 61px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 210px;
  height: 92px;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition-property: var(--links-buttons-text-color);
  transition-property: var(--links-buttons-text-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.section-clients__link6:hover {
  color: #2196F3;
  border: 1px solid #2196F3;
}
@media (min-width: 768px) {
  .section-clients__link6 {
    width: 226px;
    padding-left: 75px;
  }
}
@media (min-width: 1200px) {
  .section-clients__link6 {
    width: 170px;
    padding-top: 23px;
    padding-left: 38px;
  }
}
.section-clients__icon0 {
  width: 44px;
  height: 49px;
  fill: currentColor;
}
@media (min-width: 1200px) {
  .section-clients__icon0 {
    width: 41px;
    height: 46px;
  }
}
.section-clients__icon1 {
  width: 40px;
  height: 52px;
  fill: currentColor;
}
.section-clients__icon2 {
  width: 41px;
  height: 42.18px;
  fill: currentColor;
}
@media (min-width: 1200px) {
  .section-clients__icon2 {
    width: 43px;
    height: 41px;
  }
}
.section-clients__icon3 {
  width: 80px;
  height: 42.62px;
  fill: currentColor;
}
@media (min-width: 1200px) {
  .section-clients__icon3 {
    width: 84px;
    height: 40px;
  }
}
.section-clients__icon4 {
  width: 59px;
  height: 47px;
  fill: currentColor;
}
@media (min-width: 1200px) {
  .section-clients__icon4 {
    width: 62px;
    height: 45px;
  }
}
.section-clients__icon5 {
  width: 88.48px;
  height: 45.44px;
  fill: currentColor;
}
@media (min-width: 1200px) {
  .section-clients__icon5 {
    width: 94px;
    height: 44px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 609px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal__button {
  position: absolute;
  padding: 0%;
  width: 30px;
  height: 30px;
  left: 411px;
  top: 9px;
  border-radius: 50%;
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition-property: var(--links-buttons-text-color);
  transition-property: var(--links-buttons-text-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover {
  color: #2196F3;
}
@media (min-width: 1200px) {
  .modal__button {
    left: 490px;
  }
}
.modal__icon {
  position: absolute;
  top: 18%;
  left: 18%;
  fill: currentColor;
}
.modal__description {
  width: 370px;
  height: 60px;
  margin-top: 40px;
  margin-bottom: 0px;
  margin-right: 10px;
  margin-left: 40px;
  padding-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media (min-width: 1200px) {
  .modal__description {
    width: 448px;
    height: 23px;
    margin-bottom: 12px;
  }
}

.form {
  width: 450px;
  padding-left: 40px;
  padding-right: 40px;
  margin-right: 0px;
}
@media (min-width: 1200px) {
  .form {
    width: 528px;
  }
}
.form__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form__box:focus-within > .form__icon-person {
  fill: #2196F3;
}
.form__box:focus-within > .form__icon-telephone {
  fill: #2196F3;
}
.form__box:focus-within > .form__icon-mail {
  fill: #2196F3;
}
.form__box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 29px;
}
@media (min-width: 1200px) {
  .form__box1 {
    padding-top: 12px;
    padding-bottom: 30px;
    margin-left: 12px;
  }
}
.form__label {
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}
.form__input {
  width: 370px;
  height: 40px;
  left: 576px;
  top: 315px;
  margin-top: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  border: 1px solid;
  border-radius: 4px;
  border-color: rgba(33, 33, 33, 0.2);
  outline: none;
  -webkit-transition-property: var(--links-buttons-text-color);
  transition-property: var(--links-buttons-text-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:hover {
  cursor: pointer;
}
.form__input:focus {
  border-color: #2196F3;
}
@media (min-width: 1200px) {
  .form__input {
    width: 448px;
  }
}
.form__icon-person {
  position: absolute;
  top: 128px;
  left: 54px;
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: #000000;
  -webkit-transition-property: var(--links-buttons-text-color);
  transition-property: var(--links-buttons-text-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 1200px) {
  .form__icon-person {
    top: 105px;
  }
}
.form__icon-telephone {
  position: absolute;
  top: 198px;
  left: 54px;
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: #000000;
  -webkit-transition-property: var(--links-buttons-text-color);
  transition-property: var(--links-buttons-text-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 1200px) {
  .form__icon-telephone {
    top: 172px;
  }
}
.form__icon-mail {
  position: absolute;
  top: 266px;
  left: 54px;
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: #000000;
  -webkit-transition-property: var(--links-buttons-text-color);
  transition-property: var(--links-buttons-text-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 1200px) {
  .form__icon-mail {
    top: 240px;
  }
}
.form__textarea {
  margin-top: 4px;
  width: 370px;
  height: 120px;
  left: 576px;
  top: 519px;
  padding-top: 14px;
  padding-left: 15px;
  border: 1px solid;
  border-radius: 4px;
  border-color: rgba(33, 33, 33, 0.2);
  outline: none;
  resize: none;
  -webkit-transition-property: var(--links-buttons-text-color);
  transition-property: var(--links-buttons-text-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  padding-top: 2px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  padding-top: 2px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  padding-top: 2px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  padding-top: 2px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  padding-top: 2px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
@media (min-width: 1200px) {
  .form__textarea {
    width: 448px;
    height: 120px;
  }
}
.form__textarea:hover {
  cursor: pointer;
}
.form__textarea:focus {
  border-color: #2196F3;
}
.form__policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
@media (min-width: 1200px) {
  .form__policy {
    font-size: 14px;
    line-height: 1.71;
  }
}
.form__policy-checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  top: 30%;
}
.form__policy-checkbox:checked + .form__policy-icon {
  border-color: transparent;
  background-color: #2196F3;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' fill='none'%3E%3Crect width='16' height='15' fill='%232196F3' rx='2'/%3E%3Cpath fill='%23fff' stroke='%23fff' stroke-width='.2' d='m3.957 7.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z'/%3E%3C/svg%3E");
  background-size: contain;
  background-origin: border-box;
}
.form__policy-icon {
  display: inline-block;
  margin-top: 4px;
  width: 16px;
  height: 15px;
  border: 1.8px solid #212121;
  border-radius: 1px;
  margin-right: 8px;
  -webkit-transition-property: var(--links-buttons-text-color);
  transition-property: var(--links-buttons-text-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__policy-icon {
  cursor: pointer;
}
.form__policy-details {
  margin-left: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #2196F3;
}
.form__submit-button {
  font-weight: 700;
  font-size: 16px;
  margin-left: 83px;
  line-height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 712px;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .form__submit-button {
    margin-left: 120px;
  }
}

.menu-toggle {
  position: absolute;
  left: 91%;
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-transition-property: var(--links-buttons-text-color);
  transition-property: var(--links-buttons-text-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-toggle:hover, .menu-toggle:focus {
  color: var(--links-buttons-text-color);
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 481px;
  height: 796px;
  padding-left: 40px;
  padding-top: 48px;
  background: #FFFFFF;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 481px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  left: 424px;
  color: #212121;
}
.menu-container .menu-toggle:hover, .menu-container .menu-toggle:focus {
  color: var(--links-buttons-text-color);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  display: block;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.link:hover, .link:focus {
  color: #2196F3;
  text-decoration: none;
}

.link-c {
  display: block;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.link-c:hover, .link-c:focus {
  color: #2196F3;
  text-decoration: none;
}

.mobile-feedback {
  margin-top: 306px;
}
.mobile-feedback__tel {
  margin-bottom: 32px;
}
.mobile-feedback__tel-item {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-decoration: none;
}

.mobile-feedback__mail-item {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.mobile-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
}

.mobile-links__social-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-decoration: none;
}
.mobile-links__social-item::after {
  content: "";
  width: 22px;
  height: 0px;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-links__social-item1 {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-decoration: none;
}

.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-portfolio__hidden {
  position: absolute;
  margin-top: 0px;
  margin-bottom: 0px;
  visibility: hidden;
}
.section-portfolio__button-menu {
  margin-bottom: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 304px;
}
.section-portfolio__button {
  margin-right: 8px;
}
.section-portfolio__button:nth-child(5) {
  margin-right: 0px;
}
.section-portfolio__button-content {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #F5F4FA;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: 0px;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  -webkit-transition-property: var(--links-buttons-text-color);
  transition-property: var(--links-buttons-text-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.section-portfolio__button-content:hover {
  background-color: var(--links-buttons-text-color);
  color: white;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.section-portfolio__button-content:focus {
  background-color: var(--links-buttons-text-color);
  color: white;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.section-portfolio__cards-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.section-portfolio__card {
  width: 370px;
  background-color: white;
  border: 1px solid #EEEEEE;
  margin-right: 30px;
  margin-bottom: 30px;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.section-portfolio__card:hover .section-portfolio__product-overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
.section-portfolio__card:hover .section-portfolio__product-actions {
  opacity: 1;
}
.section-portfolio__card:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.section-portfolio__card:nth-child(3n) {
  margin-right: 0px;
}
.section-portfolio__card:nth-last-child(-n+3) {
  margin-bottom: 0px;
}
.section-portfolio__product-thumb {
  width: 370px;
  height: 294px;
  position: relative;
  overflow: hidden;
}
.section-portfolio__product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-right: 0px;
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-portfolio__product-actions {
  position: absolute;
  width: 322px;
  height: 168px;
  margin-top: 0px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.section-portfolio__header {
  margin-left: 24px;
  margin-top: 20px;
  margin-bottom: 4px;
  overflow: hidden;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.section-portfolio__description {
  margin-left: 24px;
  margin-top: 0px;
  margin-bottom: 20px;
  color: var(--description-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}
.footer__list {
  display: block;
  text-align: center;
}
@media (min-width: 768px) {
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.footer__box1 {
  margin-right: 0px;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .footer__box1 {
    margin-left: 75px;
  }
}
@media (min-width: 1200px) {
  .footer__box1 {
    margin-right: 93px;
    margin-left: 0px;
    margin-bottom: 0px;
  }
}
.footer__logo {
  display: block;
}
@media (min-width: 1200px) {
  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.footer__logo-web {
  color: var(--links-buttons-text-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: none;
}
@media (min-width: 1200px) {
  .footer__logo-web {
    font-size: 26px;
    line-height: 1.19;
  }
}
.footer__logo-studio {
  color: white;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
@media (min-width: 1200px) {
  .footer__logo-studio {
    font-size: 26px;
    line-height: 1.19;
  }
}
.footer__adress {
  margin-top: 28px;
  margin-bottom: 10px;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-align: center;
}
@media (min-width: 1200px) {
  .footer__adress {
    text-align: justify;
    width: 207px;
  }
}
.footer__feedback {
  text-align: center;
}
@media (min-width: 1200px) {
  .footer__feedback {
    text-align: justify;
  }
}
.footer__mail {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  -webkit-transition-property: var(--links-buttons-text-color);
  transition-property: var(--links-buttons-text-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__mail:hover {
  color: var(--links-buttons-text-color);
}
.footer__tel {
  margin-top: 12px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  -webkit-transition-property: var(--links-buttons-text-color);
  transition-property: var(--links-buttons-text-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__tel:hover {
  color: var(--links-buttons-text-color);
}
@media (min-width: 1200px) {
  .footer__tel {
    margin-bottom: 60px;
  }
}
.footer__tel-item {
  margin-top: 10px;
}

.footer-subscription {
  margin-left: auto;
}
@media (min-width: 768px) {
  .footer-subscription {
    margin-left: 145px;
    margin-right: auto;
  }
}
@media (min-width: 1200px) {
  .footer-subscription {
    margin-left: 94px;
  }
}
.footer-subscription__description {
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}
@media (min-width: 1200px) {
  .footer-subscription__description {
    margin-top: 12px;
    margin-bottom: 0px;
    text-align: justify;
  }
}
.footer-subscription__form {
  display: block;
}
@media (min-width: 1200px) {
  .footer-subscription__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.footer-subscription__form-input {
  width: 450px;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 16px;
  color: white;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
}
.footer-subscription__form-input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-subscription__form-input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-subscription__form-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-subscription__form-input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-subscription__form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media (min-width: 1200px) {
  .footer-subscription__form-input {
    width: 358px;
    margin-bottom: 0px;
    margin-top: 20px;
  }
}
.footer-subscription__form-button {
  width: 200px;
  height: 50px;
  margin-left: 125px;
  padding-left: 28px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
@media (min-width: 1200px) {
  .footer-subscription__form-button {
    margin-top: 20px;
    margin-left: 12px;
  }
}
.footer-subscription__form-button {
  cursor: pointer;
}
.footer-subscription__form-icon {
  margin-left: 10px;
}

.footer-networks {
  display: block;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .footer-networks {
    margin-left: 180px;
  }
}
@media (min-width: 1200px) {
  .footer-networks {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.footer-networks__description {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
}
@media (min-width: 1200px) {
  .footer-networks__description {
    text-align: left;
  }
}
.footer-networks__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-left: 120px;
}
@media (min-width: 768px) {
  .footer-networks__list {
    margin-left: 0px;
  }
}
.footer-networks__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-networks__link {
  text-align: center;
  margin-right: 10px;
  border: none;
  width: 44px;
  height: 44px;
  color: white;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: var(--links-buttons-text-color);
  transition-property: var(--links-buttons-text-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-networks__link:hover {
  color: white;
  background-color: #2196F3;
}
.footer-networks__link1 {
  text-align: center;
  border: none;
  width: 44px;
  height: 44px;
  color: white;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: var(--links-buttons-text-color);
  transition-property: var(--links-buttons-text-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-networks__link1:hover {
  color: white;
  background-color: #2196F3;
}
.footer-networks__icon {
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  margin-top: 12px;
  fill: currentColor;
}/*# sourceMappingURL=main.css.map */