.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;

    &__list {
        display: block;
        text-align: center;
    
       @media (min-width: 768px) {
         display: flex;
         flex-wrap: wrap;
    
        }
        @media (min-width: 1200px) {
            display: flex;
            flex-wrap: nowrap;
        }

    }

    &__box1 {
        margin-right: 0px;
        margin-bottom: 60px;
    
        @media (min-width: 768px) {
            margin-left: 75px;
        }
           @media (min-width: 1200px) {
               margin-right: 93px;
               margin-left: 0px;
               margin-bottom: 0px;
    
           }

    }

    &__logo {
        display: block;
        
        @media (min-width: 1200px) {
            display: flex;
        }
    }

    &__logo-web {
        color: var(--links-buttons-text-color);
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-decoration: none;

       @media (min-width: 1200px) {
            font-size: 26px;
            line-height: 1.19;
        }
    }

    &__logo-studio {
        color: #ffff;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.03em;

        @media (min-width: 1200px) {
                font-size: 26px;
                line-height: 1.19;
            }
    }

    &__adress {
        margin-top: 28px;
        margin-bottom: 10px;
        color: #ffff;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        text-decoration: none;
        text-align: center;
            
    
        @media (min-width: 1200px) {
           text-align: justify;
           width: 207px;
        }
    }

    &__feedback {
        text-align: center;
        
        @media (min-width: 1200px) {
                text-align: justify;
            }

    }
    &__mail {
        color: #FFFFFF99;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        text-decoration: none;

        transition-property: var(--links-buttons-text-color);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            color: var(--links-buttons-text-color);
        }
    }

    &__tel {
        margin-top: 12px;
        color: #FFFFFF99;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        text-decoration: none;

        transition-property: var(--links-buttons-text-color);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            color: var(--links-buttons-text-color);
        }
                @media (min-width: 1200px) {
                    margin-bottom: 60px;
                }
    }
    &__tel-item {
        margin-top: 10px;
    }

}

.footer-subscription {

    margin-left: auto;

    @media (min-width: 768px) {
          margin-left: 145px;
          margin-right: auto;
        }
            @media (min-width: 1200px) {
              margin-left: 94px;
          }

    &__description {
        margin-top: 0px;
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        text-align: center;
    
      @media (min-width: 1200px) {
           margin-top: 12px;
           margin-bottom: 0px;
           text-align: justify;
        }
    }

    &__form {
        display: block;
    
      @media (min-width: 1200px) {
            display: flex;
        }
    }

    &__form-input {
        width: 450px;
        height: 50px;
        margin-bottom: 20px;
        padding-left: 16px;
        color: #FFFF;
        background-color: #2F303A;
        ;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        outline: none;

        &::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            align-items: center;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
        }

                @media (min-width: 1200px) {
                   width: 358px;
                   margin-bottom: 0px;
                   margin-top: 20px;
                }
    }

    &__form-button {
        width: 200px;
        height: 50px;
        margin-left: 125px;
        padding-left: 28px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;

        @media (min-width: 1200px) {
                margin-top: 20px;
                margin-left: 12px;

            }
    }

    &__form-button {
        cursor: pointer;
    }

    &__form-icon {
        margin-left: 10px;
    }
}


.footer-networks {
    display: block;
    margin-bottom: 60px;

     @media (min-width: 768px) {
            margin-left: 180px;

    
        }
        @media (min-width: 1200px) {
               margin-left: 0px;
               margin-top: 10px;
                }

    &__description {
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFF;
    
       @media (min-width: 1200px) {
            text-align: left;
        }
    }

    &__list {
        display: flex;
        margin-top: 20px;
        margin-left: 120px;
    
      @media (min-width: 768px) {
         margin-left: 0px;
    
        }
    }

    &__box {
        display: flex;
    }

    &__link {
        text-align: center;
        margin-right: 10px;
        border: none;
        width: 44px;
        height: 44px;
        color: #FFFF;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        transition-property: var(--links-buttons-text-color);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            color: #FFFF;
            background-color: #2196F3;
        }
    }

    &__link1 {
        text-align: center;
        border: none;
        width: 44px;
        height: 44px;
        color: #ffff;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        transition-property: var(--links-buttons-text-color);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            color: #FFFF;
            background-color: #2196F3;
        }
    }

    &__icon {
        margin-left: 12px;
        margin-right: 12px;
        margin-bottom: 12px;
        margin-top: 12px;
        fill: currentColor;
    }
}